@import "tailwindcss";

@theme {
  --color-primary-pink: #C66F80;
  --color-primary-green: #4A6644;
  --color-accent-pink: #FCEBF1;
  --color-text-main: #000000;
  --color-text-muted: #888888;

  --color-secondary-pink: #F4C7D0;
  --color-secondary-green: #9FAA74;

  --font-poppins: var(--font-poppins);
}

body {
  background-color: var(--color-accent-pink);
  color: var(--color-text-main);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}